<!--Name: Oluwatobiloba Abel
   Student ID: 301232583
    Section: 001
    Date: 30th January 2023 -->




<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>



<section class="aboutpage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="animate-wp-17">About Me</h1>
                <div class="headerunderline animate-wp-16"></div>
            </div>
        </div>
    </div>
    <div class="aboutintro">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 animate-wp-6">
                    <!--personal photo-->
                    <img src="/Assets/images/portfolio.jpeg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 aboutintrotext animate-wp-7">
                    <p>
                       My Name is Oluwatobiloba Abel, currently taking up a Post-Graduate Certificate course in Software Engineering at Centennial College, Toronto.
                       I have a Bahcoler Degree in Information Technology from Trinity Univeristy of Asia, Philippines(2018), and have gained some technical experience
                        working as an Application Support Analyst for 2 years.
                    </p>
                    <p>
                        When I’m not coding I enjoy driving on long trips, working out, engaging in sporting activities of any kind, playing my guitar and spending time with friends & family. . 
                    </p>
                    <p> </p>  
                   
                    <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext animate-wp-15">
                        <h5>Technical Skills and Resposibilities</h5>
                        <ul>
                            <li> Conduct project work to evaluate the effectiveness of compliance function in relation to tax.</li>
                            <li>Support packaged & bespoke application design, development, testing and deployment to ensure solutions are managed in line with standard operation procedure.</li>
                            <li>Participate in large-scale new systems rollout and upgrade projects</li>
                            <li>Provided technical support for end users, both in person and remotely</li>
                            <li>Risk mitigation planning</li>
                            <li>Structuring and prioritizing business requirements and communicating plans with stakeholders for review and approval</li>
                            <li>Deploy upgrades & patches released to improve (or fix known issues in the) business applications to ensure solutions are update with patches</li>
                        </ul>      
                        

                        <p> </p> 
                         <!--Linkedin Button-->
                    </div>
                    <div class="btn-box"><a href="https://www.linkedin.com/in/tobi-abel-661591177/" class="button">Connect on Linkedin</a></div>

                      <!--Button to display resume-->
                    <div class="btn-box"><a href="/Assets/images/files/Tobi_Resume2022.pdf" class="button">View Resume</a></div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

</div>
</div>


</section>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>