<!--Name: Oluwatobiloba Abel
   Student ID: 301232583
    Section: 001
    Date: 30th January 2023 -->






<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
        



<div class="container">
    <div class="contact-section">
      <h2 class="ct-section-head">CONTACT</h2>
      <div class="row contact-fields">
        <div class="col-md-8 left-form">
         <form method="post" action="">
          <div class="form-group">
            <label class="sr-only" for="fname">First Name *</label>
            <input class="required form-control" id="fname" name="fname" placeholder="First Name&nbsp;*" type="text"  required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="lname">Last Name *</label>
            <input class="required form-control" id="lname" name="lname" placeholder="Last Name&nbsp;*" type="text"  required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="contactEmail">Email *</label>
            <input class="required form-control h5-email" id="contactEmail" name="contactEmail" placeholder="Email&nbsp;*" type="text"  required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="contactPhone">Phone *</label>
            <input class="required form-control h5-phone" id="contactPhone" name="contactPhone" placeholder="Phone&nbsp;*" type="text"  required>
          </div>
         <!-- <div class="form-group">
            <label class="sr-only" for="comment">Type your message here</label>
            <textarea class="required form-control" id="comment" name="comment" placeholder="Type your message here&nbsp;*" rows="6" required><textarea>
          </div> -->
          <button class="btn btn-accent" type="submit">Submit</button>  
        </form>
      </div>
      <div class="col-md-4 contact-info">
        <div class="phone">
          <h2>Call</h2>
          <a href="tel:+5555555555">8106527281</a>
        </div>
        <div class="email">
          <h2>Email</h2>
          <a href="mailto:info@webcorpco.com">joseph.abel@gmail.com</a>
        </div>
        <div class="location">
          <h2>Address</h2>
          <p>Centennial College </br>
          941 Progress Avenue  </br>
          Scarborough, Toronto</br>
          M1G 3T8
          <br>
          <a class="btn btn-accent" href="https://www.google.com/maps/place/Centennial+College+(Progress+Campus)/@43.8057119,-79.2425911,14z/data=!3m1!5s0x89d4d0f18385715d:0x1e314697074eeb15!4m10!1m2!2m1!1scentennial+college!3m6!1s0x89d4d0f21fd9078f:0x46e3fe92c0cd2b18!8m2!3d43.7852043!4d-79.2281691!15sChJjZW50ZW5uaWFsIGNvbGxlZ2UiA4gBAZIBB2NvbGxlZ2XgAQA!16zL20vMDM2N2dj" target="_blank"><img src="https://www.solodev.com/assets/contact-us-page/map-marker.png" alt="Map Marker">Google Maps</a></p>
        </div>
      </div>
    </div>
  </div>







<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>