<!--Name: Oluwatobiloba Abel
   Student ID: 301232583
    Section: 001
    Date: 30th January 2023 -->




<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<section class="aboutpage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="animate-wp-17">Previous Projects Carried Out</h1>
                <div class="headerunderline animate-wp-16"></div>
            </div>
        </div>
    </div>
   <p></p>

    <div class="aboutcontent greybackground">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 abouttext animate-wp-8">
                    <h5>SMART MALL PARKING SYSTEM</h5>
                    <h6>Finding parking at a mall can be a painfully long and tedious process. Lack of spots, long lines, etc. are just some of the difficulties that we face when trying to find somewhere to park.
                        There is a need for convenience for the customer to make the parking lots way more easier to navigate and can check for availability immediately before entering the parking lot. For this reason, our system will be able to make parking more convenient for the customer and make the parking lot not congested for the mall owners. The user will be able to check parking slots availability, ability to reserve parking slots, and more.
                        </h6>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 animate-wp-9">
                    <img src="https://cdn1.clickthecity.com/wp-content/uploads/2020/10/13154930/Ayala-Malls-Manila-Bay-Intelligent-Parking-System-1024x683.jpg" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <p></p>

    <div class="aboutcontent">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 animate-wp-10">
                    <img src="https://thumbs.dreamstime.com/b/car-rental-booking-reservation-sharing-using-service-mobile-application-route-points-location-hand-drawn-cartoon-253389983.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext reducedwhitespace animate-wp-11">
                    <h5>ONLINE CAR RENTAL RESERVATION </h5>
                    <h6>An online car rental system would connect drivers who rent vehicles to clients who want a vehicle. Using a variety of filters, customers can find the right vehicle, a chat system would connect hosts directly to customers, 
                        and digital payment options would allow secure payment via the site. This was my final project for my undergraduate program in which my role was to populate and maintain the databse of all the cars available for rent.
                   some features of the system include: </h6>
                    <ul>
                        <li>e-sign rental agreement</li>
                        <li>Intergration of a payment gateway to enable ease of transaction</li>
                        <li>Content management system (CMS)</li>
                        <li>Real-time availability by vehicle</li>
                    </ul>
               </div>
            </div>
        </div>
    </div>


    <div class="aboutcontent greybackground">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext animate-wp-12">
                    <h5>PwC - Designer & Developer</h5>
                    <ul>
                        <li>Developed engaging web-based content used by PwC’s global workforce of over 100,000 people</li>
                        <li>Designed and developed interactive user interfaces (UIs) and responsive digital front ends</li>
                        <li>Created mockups, designed on-screen layouts and assisted in UI/UX design decision making</li>
                        <li>Created rich multimedia including audio, video and graphics</li>
                        <li>Coordinated the development of digital content, managed developers, met strict project deadlines</li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 animate-wp-13">
                    <img src="stylesheets/pwcimage_v3.jpg" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
   
</section>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>