<!--Name: Oluwatobiloba Abel
   Student ID: 301232583
    Section: 001
    Date: 30th January 2023 -->




<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>



<section class="aboutpage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="animate-wp-17">Services</h1>
                <div class="headerunderline animate-wp-16"></div>
            </div>
        </div>
    </div>
  
    <div class="aboutcontent greybackground">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 abouttext animate-wp-8">
                </div>
            </div>
        </div>
    </div>

    <p></p>
    <p></p>


    <div class="aboutcontent">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 animate-wp-10">
                    <img src="https://www.moveoapps.com/blog/wp-content/uploads/2020/07/web-application-development-process.png" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext reducedwhitespace animate-wp-11">
                    <h5>WEB APPLICATION DEVELOPMENT</h5>
                    <div class="text">Web Application Development is the third course in a sequence of web courses, following COMP213 Web Interface Design and COMP125 Client-Side Web Development. In this course, students will learn how to design, code, and test a full-stack web application.
                        The major topics covered in COMP229 include frontend and backend development, connecting to various databases or data stores to query or manipulate data and display the results in the browser, securing and deploying complex web applications on production servers.
                        Students will apply various open-source frontend and backend frameworks to build a web application and API. </div>

               </div>
            </div>
        </div>
    </div>

    <p></p>
    <p></p>


    <div class="aboutcontent greybackground">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext animate-wp-12">
                    <h5>SOFTWARE TESTING & QUALITY ASSURANCE</h5>
                    <div class="text">This course explores the goals of quality assurance and quality control activities performed during the life cycle of a software product. It focuses on integrating test processes with agile software development methodologies. Practical exercises give experience of design, specification, execution of tests plus 
                        test automation using tools through a mixture of instructor-directed exercises and student research leading to knowledge sharing.</div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 animate-wp-13">
                    <img src="https://www.keenesystems.com/hs-fs/hubfs/software-testing.jpg?width=900&name=software-testing.jpg" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>

    <p></p>
    <p></p>

    <div class="aboutcontent">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg- col-md-12 col-sm-12 col-12 animate-wp-14">
                    <img src="https://reliasoftware.com/static/9ce8aa204a21e69716018fee472b042c/the-complete-guide-to-mobile-app-development-2021.png" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext animate-wp-15">
                    <h5>MOBILE APP DEVELOPMENT</h5>
                    <div class="text">In this mobile apps course, students will gain hands-on experience in developing and deploying mobile applications on the Android platform. 
                    Coursework emphasizes how to create advanced Graphical User Interfaces (GUIs), handle events, access remote services, store and retrieve data on the device, display maps, and use other Android APIs. Android Studio will be used to create a variety of mobile applications.</div>             
                </div>
            </div>
        </div>
    </div>

    <p></p>
    <p></p>


    <div class="aboutcontent greybackground">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext animate-wp-12">
                    <h5>PROGRAMMING 3 (C#)</h5>
                    <div class="text">The goal of this course is to enable students, already proficient in OOP, to build robust and more complex, data-driven desktop applications using the .NET technologies. Coursework emphasizes advanced topics, such as generics, extension methods, 
                        linear data structures, delegates, asynchronous programming, parallel programming, advanced GUI, Entity Framework core, ML.NET framework, etc. The language of instruction is C#.</div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 animate-wp-13">
                    <img src="https://static1.shine.com/l/m/images/blog/Programming-Jobs.jpg" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>


</section>


<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>